:root {
  --color-background: rgb(1, 41, 93);
  --color-outside: rgb(1, 28, 63);
  --color-bubble: rgb(149, 240, 239);
  --color-shadow: black;
}

body {
  background-color: var(--color-background);
  color: white;
}

h1 {
  font-family: sans-serif;
  font-weight: 300;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: none;
}

.outside-game {
  width: 50%;
  height: 52rem;
  position: absolute;
  top: 50px;
  left: 25%;
  background-color: var(--color-outside);
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 20px var(--color-shadow);
}

#end-game {
  display: none;
}

.interface-move {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.interface-speak {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.interface-enigma {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

/* .primary-container {
  word-wrap: normal;
  width: 400px;
} */


.secondary-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  flex-basis: 30%;
  /* flex-grow: 1; */
  /* flex: 1 0 30%; */
}

.tertiary-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  align-items: center;
  flex-basis: 30%;
  justify-content: center;
  /* flex-grow: 1; */
  /* flex: 1 0 20%; */
}

.fourth-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  flex-basis: 30%;
  /* flex-grow: 2; */
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.4rem 0rem 0.4rem;
}

.actions-resolve {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0rem 2rem;
  align-items: center;
  text-align: center;
}

.action-button {
  padding: 0.35rem 1.5rem;
  border: 0.5px solid white;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  transition: all 0.3s;
  background-color: transparent;
}

.action-button:hover {
  color: #000000;
  background-color: white;
}
.action-button + .action-button {
  margin-top: 0.5rem;
}

.code-label {
  margin: 1rem 0.3rem 0.3rem 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.code-input {
  margin: 0 0.3rem 0.3rem 0;
  width: 8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2.5rem;
  background: none;
  border: 0.5px solid white;
  color:white;
}

.code-input:focus {
  color: white;
}

.action-resolve-button,
#namePlayer {
  background: none;
  border: 0.5px solid white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2.5rem;
  color: white;
  transition: all 0.3s;
}

.action-resolve-button:hover,
#namePlayer:hover {
  background-color: white;
  color: var(--color-background);
}

.clue-button {
  background: none;
  opacity: 0.5;
  color: white;
  font-size: 1rem;
  border: 0.5px solid white;
  border-radius: 50%;
  margin-left: 1rem;
  transition: all 0.3s;
  height: 2rem;
  width: 2rem;
}

.clue-button:hover {
  color: var(--color-background);
  background-color: white;
}


.item-button {
  padding: 0.35rem 1.2rem;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  height: 4em;
  width: 4em;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
  width: 75px;
  height: 75px;
  box-shadow: 0px 0px 3px var(--color-shadow);
}

.item-button:hover {
  box-shadow: 0px 0px 10px var(--color-shadow);
}

.item-button#mapr1 {
  background: url("assets/icon-map-70.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#key1r2 {
  background: url("assets/icon-oldkey-100.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#key2r3 {
  background: url("assets/icon-bigkey-100.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#key3r4 {
  background: url("assets/icon-tinykey-100.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#symbr1 {
  background: url("assets/symbr1.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#bottle1r3 {
  background: url("assets/icon-bottle1r3.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#bottle2r3 {
  background: url("assets/icon-bottle2r3.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#bottle3r3 {
  background: url("assets/icon-bottle3r3.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#bottle4r3 {
  background: url("assets/icon-bottle4r3.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#scorer4 {
  background: url("assets/icon-scorer4.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#pianosolr4 {
  background: url("assets/icon-pianosolr4.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}
.item-button#treasurer4 {
  background: url("assets/icon-treasurer4.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bubble);
}

.zoom-inventory {
  text-align: center;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;
}

.item-zoom {
  width: 22rem;
  height: 22rem;
  text-align: center;
  border: none;
}

.item-zoom#mapr1-zoom {
  background: url('assets/zoom-map.png');
  background-size: contain;
}
.item-zoom#key1r2-zoom {
  background: url("assets/oldkeyr2.png");
  background-size: contain;
}
.item-zoom#key2r3-zoom {
  background: url("assets/bigkeyr1.png");
  background-size: contain;
}
.item-zoom#key3r4-zoom {
  background: url("assets/tinykeyr3.png");
  background-size: contain;
}
.item-zoom#rudderr1-zoom {
  background: url("assets/rudderr1.png");
  background-size: contain;
  background-position: center;
}
.item-zoom#circler1-zoom {
  background: url("assets/circler1.png");
  background-size: contain;
}
.item-zoom#symbr1-zoom {
  background: url("assets/symbr1.png");
  background-size: contain;
}
.item-zoom#circlesolr1-zoom {
  background: url("assets/circlesolr1.png");
  background-size: contain;
}
.item-zoom#symbr2-zoom {
  background: url("assets/symbr2.png");
  background-size: contain;
}
.item-zoom#symbsolr2-zoom {
  background: url("assets/symbsolr2.png");
  background-size: contain;
}
.item-zoom#containerr2-zoom {
  background: url("assets/containerr2.png");
  background-size: contain;
  background-position: center;
}
.item-zoom#bottle1r3-zoom {
  background: url("assets/bottle1r3.png");
  background-size: contain;
}
.item-zoom#bottle2r3-zoom {
  background: url("assets/bottle2r3.png");
  background-size: contain;
}
.item-zoom#bottle3r3-zoom {
  background: url("assets/bottle3r3.png");
  background-size: contain;
}
.item-zoom#bottle4r3-zoom {
  background: url("assets/bottle4r3.png");
  background-size: contain;
}
.item-zoom#morse1r3-zoom {
  background: url("assets/morse1r3.png");
  background-size: contain;
}
.item-zoom#morse2r3-zoom {
  background: url("assets/morse2r3.png");
  background-size: contain;
}
.item-zoom#morse3r3-zoom {
  background: url("assets/morse3r3.png");
  background-size: contain;
}
.item-zoom#scorer4-zoom {
  background: url("assets/scorer4.png");
  background-size: contain;
}
.item-zoom#pianosolr4-zoom {
  background: url("assets/pianosolr4.png");
  background-size: contain;
}
.item-zoom#treasurer4-zoom {
  background: url("assets/treasurer4.png");
  background-size: contain;
}
.item-zoom#pianor3-zoom {
  background: url("assets/pianor3.png");
  background-size: contain;
}

#map {
  /* border: 1px solid white; */
  margin: 0.5rem;
}

.title {
  margin-top: 2rem;
}

.speak {
  font-size: 1rem;
  margin: 0.7rem;
}

.story {
  margin: 2rem 4rem 2rem 4rem;
  color: white;
  font-size: 0.9rem;
}

.arrows {
  font-size:1rem;
  color: white;
}

.move-button {
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.timer {
  font-size: 1rem;
  margin-top: 1rem;
  font-family: sans-serif;
}

.indication,
.clue-text {
  font-size: 1rem;
  margin-top: 0.5rem;
}

ul {
  list-style-type: none;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

li {
  font-size: 0.9rem;
}

.exit-button,
.start-game {
  background: none;
  border: 0.5px solid white;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  transition: all 0.3s;
}

.exit-button:hover,
.start-game:hover {
  background-color: white;
  color: var(--color-background);
}

.exit-message {
  font-size: 2rem;
  margin: 6rem 6rem 4rem 6rem;
}

.exit-image {
  height: 200px;
}

#exit-image-0 {
  background: url("assets/exitimage0.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#exit-image-1 {
  background: url("assets/exitimage1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#exit-image-2 {
  background: url("assets/exitimage2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.exit-time,
.exit-nb-clues {
  font-size: 1.5rem;
}

.stat {
  margin-bottom: 4rem;
}

*:focus {
  outline: 0 !important;
}

/* mobile overrides */
@media only screen and (max-width: 50rem) {
  .interface {
    flex-direction: column;
    align-items: center;
  }

  .secondary-container {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
  }
}
