:root {
  --color-background: grey;
  --color-outside: grey;
  --color-bubble: aqua;
  --color-shadow: black;
}

body {
  background-color: var(--color-background);
  color: white;
}


.app-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: none;
}

.outside-game {
  width: 50%;
  height: 50rem;
  position: absolute;
  top: 50px;
  left: 25%;
  color: black;
  background-color: var(--color-outside);
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px var(--color-shadow);
}

#end-game {
  display: none;
}

.interface-move {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.interface-speak {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.interface-enigma {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

/* .primary-container {
  word-wrap: normal;
  width: 400px;
} */


.secondary-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  flex-basis: 30%;
  /* flex-grow: 1; */
  /* flex: 1 0 30%; */
}

.tertiary-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  flex-basis: 30%;
  /* flex-grow: 1; */
  /* flex: 1 0 20%; */
}

.fourth-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  flex-basis: 30%;
  /* flex-grow: 2; */
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.action-button {
  padding: 0.35rem 1.2rem;
  border: 0.1rem solid white;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.3s;
  background-color: transparent;
}

.action-button:hover {
  color: #000000;
  background-color: white;
}
.action-button + .action-button {
  margin-top: 1rem;
}

.item-button {
  padding: 0.35rem 1.2rem;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  height: 4em;
  width: 4em;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px var(--color-shadow);
}

.item-button:hover {
  box-shadow: 0px 0px 6px var(--color-shadow);
}

.item-button#mapr1 {
  background: url("assets/icon-map-70.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#key1r2 {
  background: url("assets/icon-oldkey-100.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#key2r3 {
  background: url("assets/icon-bigkey-100.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#key3r4 {
  background: url("assets/icon-tinykey-100.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#symbr1 {
  background: url("assets/symbr1.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#bottle1r3 {
  background: url("assets/icon-bottle1r3.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#bottle2r3 {
  background: url("assets/icon-bottle2r3.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#bottle3r3 {
  background: url("assets/icon-bottle3r3.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#bottle4r3 {
  background: url("assets/icon-bottle4r3.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#scorer4 {
  background: url("assets/icon-scorer4.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#pianosolr4 {
  background: url("assets/icon-pianosolr4.png");
  background-size: contain;
  background-color: var(--color-bubble);
}
.item-button#treasurer4 {
  background: url("assets/icon-treasurer4.png");
  background-size: contain;
  background-color: var(--color-bubble);
}

.item-zoom {
  width: 500px;
  height: 500px;
}

.item-zoom#mapr1-zoom {
  background: url('assets/zoom-map.png');
  background-size: contain;
}
.item-zoom#key1r2-zoom {
  background: url("assets/icon-oldkey-100.png");
  background-size: contain;
}
.item-zoom#key2r3-zoom {
  background: url("assets/icon-bigkey-100.png");
  background-size: contain;
}
.item-zoom#key3r4-zoom {
  background: url("assets/icon-tinykey-100.png");
  background-size: contain;
}
.item-zoom#rudderr1-zoom {
  background: url("assets/rudderr1.png");
  background-size: contain;
}
.item-zoom#circler1-zoom {
  background: url("assets/circler1.png");
  background-size: contain;
}
.item-zoom#symbr1-zoom {
  background: url("assets/symbr1.png");
  background-size: contain;
  background-color: white;
}
.item-zoom#circlesolr1-zoom {
  background: url("assets/circlesolr1.png");
  background-size: contain;
  background-color: white;
}
.item-zoom#symbr2-zoom {
  background: url("assets/symbr2.png");
  background-size: contain;
  background-color: white;
}
.item-zoom#symbsolr2-zoom {
  background: url("assets/symbsolr2.png");
  background-size: contain;
  background-color: white;
}
.item-zoom#containerr2-zoom {
  background: url("assets/containerr2.png");
  background-size: contain;
  background-color: white;  
}
.item-zoom#bottle1r3-zoom {
  background: url("assets/bottle1r3.png");
  background-size: contain;
}
.item-zoom#bottle2r3-zoom {
  background: url("assets/bottle2r3.png");
  background-size: contain;
}
.item-zoom#bottle3r3-zoom {
  background: url("assets/bottle3r3.png");
  background-size: contain;
}
.item-zoom#bottle4r3-zoom {
  background: url("assets/bottle4r3.png");
  background-size: contain;
}
.item-zoom#morse1r3-zoom {
  background: url("assets/morse1r3.png");
  background-size: contain;
}
.item-zoom#morse2r3-zoom {
  background: url("assets/morse2r3.png");
  background-size: contain;
}
.item-zoom#morse3r3-zoom {
  background: url("assets/morse3r3.png");
  background-size: contain;
}
.item-zoom#scorer4-zoom {
  background: url("assets/scorer4.png");
  background-size: contain;
}
.item-zoom#pianosolr4-zoom {
  background: url("assets/pianosolr4.png");
  background-size: contain;
  background-color: white;
}
.item-zoom#treasurer4-zoom {
  background: url("assets/treasurer4.png");
  background-size: contain;
}
.item-zoom#pianor3-zoom {
  background: url("assets/pianor3.png");
  background-size: contain;
}

.item-button-used {
  padding: 0.35rem 1.2rem;
  border: 0.1rem solid grey;
  margin: 0 0.3rem 0.3rem 0;
  height: 4em;
  width: 4em;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.3s;
  background-color: grey;
}

#map {
  /* border: 1px solid white; */
  margin: 1rem;
}

.title {
  font-size: 2rem;
  width: 700px;
  margin: 2rem 1rem 1rem 1rem;
  padding: 0;
}

.speak {
  font-size: 1.5rem;
  margin: 2rem;
}

.story {
  margin: 4rem;
}

.arrows {
  font-size:50px;
  color: white;
}

.move-button {
  background:none;
  border:none;
  margin:0;
  padding:0;
}

/* mobile overrides */
@media only screen and (max-width: 50rem) {
  .interface {
    flex-direction: column;
    align-items: center;
  }

  .secondary-container {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
  }
}
